[project]
	description = A collection of Scripts for OmniFocus 2 by FradSer.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Frad Lee (FradSer)
[access "refs/for/refs/*"]
	read = group user/Frad Lee (FradSer)
	push = group user/Frad Lee (FradSer)
	label-Code-Review = -2..+2 group user/Frad Lee (FradSer)
	label-Verified = -1..+1 group user/Frad Lee (FradSer)
	rebase = group user/Frad Lee (FradSer)
	removeReviewer = group user/Frad Lee (FradSer)
	submit = group user/Frad Lee (FradSer)
[access "refs/heads/*"]
	read = group user/Frad Lee (FradSer)
	create = group user/Frad Lee (FradSer)
	push = +force group user/Frad Lee (FradSer)
	pushMerge = group user/Frad Lee (FradSer)
[access "refs/tags/*"]
	push = +force group user/Frad Lee (FradSer)
	pushTag = group user/Frad Lee (FradSer)
	pushSignedTag = group user/Frad Lee (FradSer)
